#show{
    width: 700px;
    margin: 0 auto;
}

.cart-left{
    float: left;
}

.cart-left figure{

}

.cart-left figure a{

}

.cart-left figure img{
    max-width: 100px;
    margin: 20px 0 0 40px;
}

.cart-left figure figcaption{
    margin: 0 0 0 40px;
}

.cart-left figure figcaption p{

}

.cart-left figure figcaption span{
    color: #F59123;

    font-weight: bold;
}

.cart-right{
    float: right;
    width: 440px;
}

.cart-right .info{
    margin: 0px 0px 10px 0px;
}

.cart-right .info label{
    display: block;
    padding-bottom: 10px;
}

.cart-right .info label.hed{
    font-size: 16px;
}

.cart-right .info label.inline{
    display: inline;
}

.cart-right .info label span{
    margin: 0px 6px;

}

.cart-right .info label span.red{
    background-color: #F8273B;
    color: white;
    padding: 4px 8px;
    border-radius: 13px;
}

.cart-right .info label span.blue{
    background-color: #1C42FF;
    color: white;
    padding: 4px 8px;
    border-radius: 13px;
}

.cart-right input.input{
    display: block;
    width: 300px;
    margin: 5px 0px;
    line-height: 26px;
    padding: 0px 5px;
}

.cart-right input.btn{
    background-color: #F75400;
    cursor: pointer;
    color: white;
    border: medium none;
    padding: 8px 19px;
    border-radius: 7px;
    margin-top: 34px;
}
