<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Admin Control Cpanel</title>
<link href="css/normalize.css" rel="stylesheet" type="text/css" />
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="cms-wrapper">
	<div id="cms-header">
		<p class="title">Hệ thống quản trị dữ liệu</p>
	</div><!-- #cms-header -->
	
	<div id="cms-navigation">
		<div class="left">
			<ul class="main">
				<li class="main">
					<a href="#" class="main">Hệ thống</a>
					<ul class="item">
						<li class="item"><a href="#" class="item">Thông tin tài khoản</a></li>
						<li class="item"><a href="#" class="item">Cấu hình hệ thống</a></li>
						<li class="item"><a href="#" class="item">Đăng xuất</a></li>
					</ul>
				</li>
				<li class="main">
					<a href="#" class="main main-select">Khách hàng</a>
					<ul class="item">
						<li class="item"><a href="#" class="item">Quản lý khách hàng</a></li>
						<li class="item"><a href="#" class="item">Thêm khách hàng mới</a></li>
					</ul>
				</li>
				<li class="main"><a href="#" class="main">Domain</a></li>
				<li class="main"><a href="#" class="main">Hosting</a></li>
				<li class="main"><a href="#" class="main">Seo</a></li>
			</ul>
		</div><!-- .left -->
		<div class="right">
			<ul class="main">
				<li class="main main-text">Chào <span>Lê Thanh Hải</span></li>
				<li class="main"><a href="#" class="main">Thông tin</a></li>
				<li class="main"><a href="#" class="main">Đăng xuất</a></li>
			</ul>
		</div><!-- .right -->
		<div class="cms-clear"></div>
	</div><!-- #cms-navigation -->

	<div id="cms-tab">
		<p class="title">Hệ thống quản trị dữ liệu</p>
		<ul class="main">
			<li class="main"><a href="#" class="main">Tháng 05/2013</a></li>
			<li class="main"><a href="#" class="main">Tháng 06/2013</a></li>
			<li class="main"><a href="#" class="main">Tháng 07/2013</a></li>
		</ul>
		<div class="cms-clear"></div>
	</div><!-- #cms-tab -->

	<div id="cms-container">
		<div id="cms-table" style="margin:0px;">
			<table cellspacing="0" cellpadding="0" class="calendar">
				<tr>
					<th><span class="date">Chủ nhật</span></th>
					<th>Thứ hai</th>
					<th>Thứ ba</th>
					<th>Thứ tư</th>
					<th>Thứ năm</th>
					<th>Thứ sáu</th>
					<th class="last">Thứ bảy</th>
				</tr>
				<tr>
					<td class="first prev col-1 row-1">
						<span class="date">29/12</span>
					</td>
					<td class="prev"><span class="date">10</span></td>
					<td class="prev"><span class="date">10</span></td>
					<td class="prev"><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td class="last"><span class="date">10</span></td>
				</tr>
				<tr>
					<td class="first">
						<span class="date">10</span>
						<div class="dialog" style="left:-5px;">
							<p class="date">Chủ nhật, ngày 10 tháng 11 năm 2013</p>
						</div><!-- .dialog -->
					</td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td>
						<span class="date">10</span>
					</td>
					<td class="last"><span class="date">10</span></td>
				</tr>
				<tr>
					<td class="first"><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td class="current"><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td class="last">
						<span class="date">10</span>
					</td>
				</tr>
				<tr>
					<td class="first"><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td class="last"><span class="date">10</span></td>
				</tr>
				<tr class="last">
					<td class="first"><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td><span class="date">10</span></td>
					<td class="next"><span class="date">10</span></td>
					<td class="next"><span class="date">10</span></td>
					<td class="next"><span class="date">10</span></td>
					<td class="last next"><span class="date">10</span></td>
				</tr>
			</table>
		</div><!-- #cms-table -->
		<div class="cms-clear"></div>
	</div><!-- #cms-container -->

	<div id="cms-copyright">
		<p>Copyright 2014 - <a href="#">SIMPLE ITQ CMS</a></p>
		<div class="cms-clear"></div>
	</div><!-- #cms-copyright -->

	<div class="cms-clear"></div>
</div><!-- #cms-wrapper -->
</body>
</html>
